@charset "UTF-8";

 @font-face {
  font-family: 'enterprise_social';
  src: url('../font/enterprise_social.eot?39182150');
  src: url('../font/enterprise_social.eot?39182150#iefix') format('embedded-opentype'),
       url('../font/enterprise_social.woff?39182150') format('woff'),
       url('../font/enterprise_social.ttf?39182150') format('truetype'),
       url('../font/enterprise_social.svg?39182150#enterprise_social') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'enterprise_social';
    src: url('../font/enterprise_social.svg?39182150#enterprise_social') format('svg');
  }
}
*/
 
 [class^="social-"]:before, [class*=" social-"]:before {
  font-family: "enterprise_social";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.social-youtube:before { content: '\55'; } /* 'U' */
.social-drupal:before { content: '\e4'; } /* 'ä' */
.social-mail:before { content: '\2709'; } /* '✉' */
.social-location:before { content: '\e07a'; } /* '' */
.social-share:before { content: '\e715'; } /* '' */
.social-comments:before { content: '\e803'; } /* '' */
.social-twitter:before { content: '\f099'; } /* '' */
.social-facebook:before { content: '\f09a'; } /* '' */
.social-github:before { content: '\f09b'; } /* '' */
.social-gplus:before { content: '\f0d5'; } /* '' */
.social-linkedin:before { content: '\f0e1'; } /* '' */
.social-flickr:before { content: '\f303'; } /* '' */
.social-vimeo:before { content: '\f306'; } /* '' */
.social-pinterest:before { content: '\f312'; } /* '' */
.social-tumblr:before { content: '\f315'; } /* '' */
.social-instagram:before { content: '\f32d'; } /* '' */
.social-dropbox:before { content: '\f330'; } /* '' */
.social-skype:before { content: '\f339'; } /* '' */
.social-picasa:before { content: '\f345'; } /* '' */
.social-calendar:before { content: '📅'; } /* '\1f4c5' */
.social-mobile:before { content: '📱'; } /* '\1f4f1' */
.social-link:before { content: '🔗'; } /* '\1f517' */