@charset "UTF-8";

 
.social-youtube:before { content: '\55'; } /* 'U' */
.social-drupal:before { content: '\e4'; } /* 'ä' */
.social-mail:before { content: '\2709'; } /* '✉' */
.social-location:before { content: '\e07a'; } /* '' */
.social-share:before { content: '\e715'; } /* '' */
.social-comments:before { content: '\e803'; } /* '' */
.social-twitter:before { content: '\f099'; } /* '' */
.social-facebook:before { content: '\f09a'; } /* '' */
.social-github:before { content: '\f09b'; } /* '' */
.social-gplus:before { content: '\f0d5'; } /* '' */
.social-linkedin:before { content: '\f0e1'; } /* '' */
.social-flickr:before { content: '\f303'; } /* '' */
.social-vimeo:before { content: '\f306'; } /* '' */
.social-pinterest:before { content: '\f312'; } /* '' */
.social-tumblr:before { content: '\f315'; } /* '' */
.social-instagram:before { content: '\f32d'; } /* '' */
.social-dropbox:before { content: '\f330'; } /* '' */
.social-skype:before { content: '\f339'; } /* '' */
.social-picasa:before { content: '\f345'; } /* '' */
.social-calendar:before { content: '📅'; } /* '\1f4c5' */
.social-mobile:before { content: '📱'; } /* '\1f4f1' */
.social-link:before { content: '🔗'; } /* '\1f517' */